<script>
btnClick= function () {
    alert('ss');
        this.router.navigate(['/user']);
};
</script>

   <!--model project-->
   <ng-template #projectcontent let-modal>
      <div class="modal-header">
    f    <h4 class="modal-title" id="modal-basic-title">Select Project...</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form>
        
        <div class=" d-flex ">

                <div  class="col-sm-10" >
                    <input type="text" name ="Search" class="form-control" [(ngModel)]="projectFilter.ProjectName" placeholder="Search by Project  Name..."
                    id="FilterProjectName" >
              
                  <select size="10" [(ngModel)]="selected" name="User" class="form-control" >
                    <option  *ngFor="let item of project| orderBy:order:false:true | filterBy: projectFilter; let i = index" [value]="item.ProjectId + ',' + item.ProjectName"> {{item.ProjectName}}  </option>
                  </select>  

              
                </div>
              </div>

       
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close(selected)">Select</button>
      </div>
    </ng-template>
<!--model-->

<div class="container" >
    <br>
    <div class="card">
    
        <div class="card-header page-header">
          <h4>View  Task</h4>
        </div>
        <div class="card-body">
           
            <div class="row d-flex"> 
                 
              <div  class="col-sm-1 control-label"><label class="control-label" for="Task">Project : </label>
              </div> 
          
              <div class="col-sm-4 ">
                
                  <input name="ProjectName" type="text" class="form-control" [ngModel]="ProjectName"  id="ProjectName" readonly
                                          >
                </div>
                <div class="col-sm-1 ">
                    <a class="button button5" role="button" (click)="openproject(projectcontent)" >Search</a>
                  </div>
               
         
                <div class="col-sm-6">
                        Sort By
                          <button (click)="Sort('Startdate')" class="btn btn-primary btn-sm">Start Date</button>&nbsp;
                          <button (click)="Sort('Enddate')" class="btn btn-primary btn-sm">End Date</button>&nbsp;
                          <button (click)="Sort('Priority')" class="btn btn-primary btn-sm">Priority</button>&nbsp;
                          <button (click)="Sort('Status')" class="btn btn-primary btn-sm">Completed</button>&nbsp;
                </div>
              </div>  <!--row --> 
            
              <div class="row d-flex"> 
                  <div class="col-sm-3">
                    </div>
                      <div class="col-sm-6">
                          <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

                        </div>
                          <div class="col-sm-3">
                            </div>
                </div>
             <br>
                    <ul class="list-group list-unstyled">
           
                        <li *ngFor="let item of task  | orderBy:order:false:true ; let i = index"> 
                     
                      
                           <div class="row contentouter">
                            <div class="col-md-2 content">
                            <span class="tblColLbl">TaskName:</span>     
                            <span class="label ">{{ item.TaskName }}</span>
                            </div>   
                            <div  class="col-md-1 content">                       
                            <span class="tblColLbl">#Tasks:</span>     
                            <div *ngIf="item['TaskParent'] !== null">{{ item['TaskParent']['TaskName'] }}</div>                              
              
                            </div>   
                            <div  class="col-md-2 content">
                            <span class="tblColLbl">Priority:</span>   
                            <span class="label ">{{ item.Priority }}</span>
                            </div>  
                            <div  class="col-md-2 content"> 
                            <span class="tblColLbl">Start Date:</span>   
                            <span class="label ">{{ item.Startdate | date:'mediumDate' }}</span>
                            </div>
                            <div  class="col-md-2 content">   
                            <span class="tblColLbl">End Date:</span>   
                            <span class="label ">{{ item.Enddate  | date:'mediumDate'}}</span>
                            </div>  
                            <div  class="col-md-1 content"> 
                            <span class="tblColLbl">Priority:</span>   
                            <span class="label ">{{ item.Priority }}</span>
                            </div>                 
                            <div *ngIf="item.Status   == 'Completed'"> 
                                <button (click)="View(item)" class="btn btn-primary btn-sm">View Task</button>&nbsp;
                               </div>
                            <div *ngIf="item.Status  != 'Completed'"> 
                              <button (click)="Edit(item)" class="btn btn-primary btn-sm">Edit</button>&nbsp;
                            
                            
                              <button (click)="EndTask(item)" class="btn btn-primary btn-sm">End Task</button>&nbsp;
                          </div>
                         

                             
                            </div>
                        </li>
                    </ul>
           
        </div>
    


</div>

 

</div>

